---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home Page">
		<h1>Astro</h1>
    <p>Hello, world!</p>
    <p>Momento actual: {new Date().toLocaleTimeString()}</p>
    <p id="current-time">Momento actual real:</p>


<script>
  // Asegurar de que el código se ejecute solo después de que el DOM esté listo
  document.addEventListener('DOMContentLoaded', () => {
    // Selecciona el párrafo del tiempo actual
    const currentTimeParagraph = document.querySelector('#current-time') as HTMLParagraphElement;

    // Función para actualizar el tiempo actual real
    const updateTime = () => {
      currentTimeParagraph.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
    };

    // Actualiza el tiempo inmediatamente al cargar la página
    updateTime();

    // Actualiza el tiempo cada segundo
    setInterval(updateTime, 1000);
  });
</script>
</MainLayout>
